<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>Submitted Data is </h1>
    <h1> Persons </h1>
    <table>
        <tr>
            <td>Name </td>
            <td>Age </td>
        </tr>
        {%for person in persons %}
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            
        </tr>
        {%endfor%}
    </table>
</body>
</html>